body {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  background-color: green;
  border: solid black 2px;
}

.text:hover {
  background-color: white;
  color:black;
}