.div{
    text-align: center;
    
}

.div.login{
    background-color: #dddddd;
    display: inline-block;
    padding: 4em;
}

input{
    border: 0;
    font-size: 1em;
}

table{
    margin: auto;
    vertical-align: middle;
    text-align: left;
}

#error{
    font-size: 0.7em;
    color: red;
}