body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  background-color: green;
  border: solid black 2px;
}

.text:hover {
  background-color: white;
  color:black;
}

.button{
  background-color: #99ccff;
  border: 0;
  font-size: 1.2em; 
  transition: 0.2s all;
}

.button:hover{
  background-color: #1a8cff;
}

.copyright{
  font-size: 70%;
}
