b{
  color: #404040;
}

.maincontainer{
  margin: 0;
  padding: 0;
  text-align: center;
}

.outercontainer{
  height: 700px;
  width: 30%;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0.1em black solid;
  vertical-align: top;
  border-top: 0;
  border-bottom: 0;
  text-align: center;
}

.innercontainer{
  width: 95%;
  display: inline-block;
  text-align: left;
  vertical-align: center;
  margin-bottom: 0.05em;
  padding: 0.03em;
  border: 0.01em gray;
}

.portcallmessage{
  background-color: #cccccc;
  margin: 0.2em;
  padding: 0.1em;
  border: transparent;
  border-width: 0.1em;
}

.data{
  width:80%;
  border: 1px black solid;
}

.data:read-only{
  width:80%;
  border: none;
}

.btnEdit{
  /*background-image: url(/img/edit.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 32px;*/
  margin: 0.2em;
  align-self: right;
}

.tblInfo{
  width: 100%;
}

#right{
  border-left: 0;
}

#portcallmessages{
  overflow-y:scroll;
  height:400px;
}