.centered {
    margin: auto;
    text-align: center;
}

.unscheduled-container {
    width: 70%;
}
.hidden {
    display: none;
}

ul {
    list-style-type: none;
}

li {
    border: 1px solid black;
}

#add-portcall-form {
    text-align: center;
}

#add-portcall-form label{
    display: inline-block;
    text-align: right;
    float: left;
    clear: left;
}

#add-portcall-form input {
    width: auto;
    display: inline-block;
    float: left;
}
