<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Terminal 2</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <button id="subscribe">Subscribe</button>
  <span id="queueId">...</span>

  <h2>New messages</h2>

  <button id="getNewMessages">Get all new messages</button>
  <ul id="resultList">
  </ul>

  <script src="https://code.jquery.com/jquery-2.2.4.js"
          integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
          crossorigin="anonymous"></script>
  <script src="js/test.js"></script>
</body>

<footer>
    <p class="copyright" align="center">&copy; Copyright 2017 Billy Corgan Project.</p>
</footer>

</html>
