<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TerminalApp</title>
    <link rel="stylesheet" type="text/css"  href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div class="div">
        <h1>Terminal 2</h1>
        <div class="div login">
        <table>
            <tr>
                <td>            
                    Username: 
                </td>
                <td>
                    <input type="text" id="username">
                </td>
            </tr>
            <tr>
                <td>
                    Password: 
                </td>
                <td>
                    <input type="password" id="password">
                </td>
            </tr>
            <tr>
                <td></td>
                <td id="error"></td>
            </tr>
        </table>
        <br>
        <button id="login" class="button" onclick="login()">Log in</button>
    </div>
    <script src="/js/login.js"></script>
</body>
<footer>
    <p class="copyright" align="center">&copy; Copyright 2017 Billy Corgan Project.</p>
</footer>
</html>