<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portcallview</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/portcallview.css">
</head>
<body>
  <div class="maincontainer">
    <div class="outercontainer">
      <h1 id="portCallName"> Portcall </h1>
        <div class="innercontainer">
          <h3> Information </h3>
          <span>
            <b>Cargo to unload: </b><p class="data" id="cargoIn"></p>
            <br>
            <b>Cargo to load: </b><p class="data" id="cargoOut"></p>  
            <br>
            <b>Laycan start: </b><p class="data" id="laycanStart"></p>
            <br>
            <b>Laycan end: </b><p class="data" id="laycanEnd"></p>
            <br>
            <b>Vessel name: </b><p class="data" id="name"></p>
            <br>
            <b>Vessel ID: </b><p class="data" id="vesselId"></p>
            <br>
            <b>PortCall ID: </b><p class="data" id="portcallId"></p>
          </span>
        </div>
      <div class="innercontainer">
        <h3> Reminders </h3>
        <span> boat <br> name <br> number <br> type <br> </span>
      </div>
      <div class="innercontainer">
        <h3> Comments </h3>
        <textarea id="comment"></textarea>
        <br>
        <button> Add comment </button>
     </div>
  </div>
  <div class="outercontainer" id="right">
    <h1 align="center">Schema</h1>
    </h1>
  </div>
  <div class="outercontainer" id="right">
    <h1 align="center">Feed</h1>
      <div class="innercontainer" id="portcallmessages">
      </div>
      <button onclick="addTestMessage()">Add dummy message</button>
    </div>
  </div>
</body>
  <script src="https://code.jquery.com/jquery-2.2.4.js"
          integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
          crossorigin="anonymous"></script>
<script src="js/portcallmessages.js"></script>
<script src="js/portcallview.js"></script>
<footer>
    <p class="copyright" align="center">&copy; Copyright 2017 Billy Corgan Project.</p>
</footer>
</html>