<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing the reporting system</title>
    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
</head>
<body>
    <button id="cargoop-commenced-button">cargoOp commenced</button>
    <button id="cargoop-completed-button">cargoOp completed</button>
    <button id="ready-to-sail-completed-button">Ready to sail completed</button>
    <button id="slopop-confirmed-button">SlopOp confirmed</button>
    <button id="slopop-denied-button">SlopOp denied</button>
    <button id="slopop-reqreceived-button">Slopop req received</button>
    <button id="arrival-vessel-berth-button">Arrival vessel berth</button>
    <button id="departure-vessel-berth-button">Departure vessel berth</button>

    <select id="time-type-select">
        <option value="ESTIMATED">Estimated</option>
        <option value="TARGET">Target</option>
        <option value="ACTUAL">Actual</option>
        <option value="CANCELLED">Cancelled</option>
        <option value="RECOMMENDED">Recommended</option>
    </select>


    <script src="/js/reportTest.js"></script>
</body>
</html>