<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unscheduled portcalls</title>
    <link href="/css/unscheduled.css" rel="stylesheet" />
    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="unscheduled-container centered">
    <h1>Unscheduled portcalls</h1>
    <button id="add-portcall-button">Add Portcall</button>


    <div class="add-portcall-input hidden centered">
        <form id="add-portcall-form centered">
            <label for="cargo-in-input">Cargo in:</label>
            <input id="cargo-in-input" type="text" />
            <br>
            <label for="cargo-out-input">Cargo out:</label>
            <input id="cargo-out-input" type="text" />
            <input type="submit" name="submit" value="Add PortCall">
        </form>
    </div>

    <div class="centered">
        <h2>Portcalls: </h2>
        <button id="load-port-calls">Load Port Calls</button>
        <ul id="list-of-portcalls"></ul>
    </div>

</div>
<script src="/js/unscheduled.js"></script>
</body>
</html>